<main>
    <div class="card">
        <div class="card-front">
            <h2>{{ translations['SERVICE_1'] }}</h2>
        </div>
        <div class="card-back">
            <p>{{ translations['SERVICE_1_TEXT'] }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-front">
            <h2>{{ translations['SERVICE_2']}}</h2>
        </div>
        <div class="card-back">
            <p>{{ translations['SERVICE_2_TEXT'] }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-front">
            <h2>{{ translations['SERVICE_3'] }}</h2>
        </div>
        <div class="card-back">
            <p>{{ translations['SERVICE_3_TEXT'] }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-front">
            <h2>{{ translations['SERVICE_4'] }}</h2>
        </div>
        <div class="card-back">
            <p>{{ translations['SERVICE_4_TEXT'] }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-front">
            <h2>{{ translations['SERVICE_5'] }}</h2>
        </div>
        <div class="card-back">
            <p>{{ translations['SERVICE_5_TEXT'] }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-front">
            <h2>{{ translations['SERVICE_6'] }}</h2>
        </div>
        <div class="card-back">
            <p>{{ translations['SERVICE_6_TEXT'] }}</p>
        </div>
    </div>
</main>
