.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido al inicio del eje cruzado */
    z-index: 9999;
}

.modal-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 auto;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border: none;
}

.close-button {
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: none;
    font-size: 100px;
    font-weight: 100;
    cursor: pointer;
    color: #60d2cb;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 250px;
    height: auto;
}

main {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.main-content {
    width: 60%;
    margin-left: 20%;
}

@media (max-width: 968px) {
    .main-content {
        width: 85%;
        margin: 0 auto;
    }
}

.aside {
    width: 20%;
    margin-left: 25px;
}

@media (max-width: 968px) {
    .img {
        margin-top: 200px;
    }
    .logo {
        width: 200px;
        height: auto;
        top: 10px;
        left: 10px;
    }

    .close-button {
        top: 0;
        right: 10px;
    }

    .modal-content {
        flex-direction: column;
    }

    main {
        flex-direction: column;
        margin-top: 100px; /* Ajusta este valor según la altura de tu logo y botón de cierre */
    }
}

@media (max-width: 576px) {
    .logo {
        width: 150px;
        height: auto;
    }
}


