<main>
    <article>
        <h2>TRIKU COPERATIVA</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, ipsam. Blanditiis 
            vel corrupti perferendis? Commodi laudantium quae sunt asperiores nemo animi, 
            optio minus numquam ab doloremque cupiditate ex. Error, omnis.</p>
        <div  class="main-team">
            <div class="text">
                <img src="" alt="">
                <p>aukcasdkbakvca</p>
                <p>--------</p>
                <p>scasidcbksc</p>
            </div>
            <div class="text">
                <img src="" alt="">
                <p>aukcasdkbakvca</p>
                <p>--------</p>
                <p>scasidcbksc</p>
            </div>
            <div class="text">
                <img src="" alt="">
                <p>aukcasdkbakvca</p>
                <p>--------</p>
                <p>scasidcbksc</p>
            </div>
        </div>
    </article>
    <article>
            <h2>TRIKU COPERATIVA</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, ipsam. Blanditiis 
                vel corrupti perferendis? Commodi laudantium quae sunt asperiores nemo animi, 
                optio minus numquam ab doloremque cupiditate ex. Error, omnis.</p>
            <div  class="main-team">
                <div class="text">
                    <img src="" alt="">
                    <p>aukcasdkbakvca</p>
                    <p>--------</p>
                    <p>scasidcbksc</p>
                </div>
                <div class="text">
                    <img src="" alt="">
                    <p>aukcasdkbakvca</p>
                    <p>--------</p>
                    <p>scasidcbksc</p>
                </div>
                <div class="text">
                    <img src="" alt="">
                    <p>aukcasdkbakvca</p>
                    <p>--------</p>
                    <p>scasidcbksc</p>  
                </div>
                <div class="text">
                    <img src="" alt="">
                    <p>aukcasdkbakvca</p>
                    <p>--------</p>
                    <p>scasidcbksc</p>
                </div>
            </div>
    </article>
</main>
