.carousel-item {
    height: 15%;
    object-fit: cover; /* Esto asegura que las imágenes se redimensionen correctamente */
}

.carousel-container {
    width: 60%;
    margin: auto;
}


@media (max-width: 968px) {
    .carousel-container {
        width: 100%;
    }
    
}