<header class="row p-0 m-0 container-fluid">
    <div class="nav-container col-lg-6 col-md-12 p-0">
        <div class="nav d-flex flex-row align-items-start justify-content-between">
            <div class="p-2 m-3 order-1 order-lg-1">
                <div class="p-1">
                    <img class="logo" src="../../../assets/img/captura logo .png" alt="">
                </div>
            </div>
            <div class="p-1 m-2 nav-principal d-flex justify-content-end order-2 order-lg-2">
                <a class="my-1 mx-2" href="#">SERVICIOS</a>
                <p class="my-1">/</p>
                <a class="my-1 mx-2" href="#">METODOLOGIA</a>
            </div>
        </div>
            <app-text-header></app-text-header> 
            <div class="nav-vertical w-25 p-1">
                <a href="#">Agua</a>
                <a href="#">Energia</a>
                <a href="#">Medio ambiente</a>
                <a href="#">Urbanismo</a>
                <a href="#">Movilidad</a>
                <a href="#">Infraestructura</a>
            </div>
            <div class="nav-white">
                <a class="white" href="">CONTACTO</a>
                <a class="white" href="">EQUIPO DE TRABAJO</a>
            </div>
    </div>
    
    <div class="col-lg-6 col-md-12 img-responsive p-0"><img src="../../../assets/img/img-header.jpg" alt=""></div>
</header>
