<header class="row p-0 m-0 container-fluid">
    <div class="nav-container col-lg-6 col-md-12 p-3">
        <div class="nav d-flex flex-row align-items-start justify-content-between">
            <div class="p-2 m-3 order-1 order-lg-1">
                <div class="p-1">
                    <img class="logo" src="../../../assets/img/captura logo .png" alt="">
                    <div>
                        <button (click)="changeLanguage('en')">En</button>
                        <button (click)="changeLanguage('es')">Es</button>
                        <button (click)="changeLanguage('eus')">Eus</button>
                    </div>
                </div>
            </div>
            <div class="p-1 m-2 nav-principal d-flex justify-content-end order-2 order-lg-2">
                <a class="my-1 mx-2" href="#">{{ translations['SERVICES'] }}</a>
                <p class="my-1">/</p>
                <a class="my-1 mx-2" href="#"> {{ translations['METHODOLOGY'] }} </a>
            </div>
        </div>
            <app-text-header></app-text-header> 
            <div class="nav-vertical p-1">
                <a href="#">{{ translations['WATER'] }}</a>
                <a href="#">{{ translations['ENERGY'] }}</a>
                <a href="#">{{ translations['ENVIRONMENT'] }}</a>
                <a href="#">{{ translations['URBANISM'] }}</a>
                <a href="#">{{ translations['MOBILITY'] }}</a>
                <a href="#">{{ translations['INFRASTRUCTURE'] }}</a>
            </div>
            <div class="nav-white">
                <a class="white" href="">{{ translations['CONTACT'] }}</a>
                <a class="white" href="">{{ translations['TEAM'] }}</a>
            </div>
            <!-- Para pantallas grandes -->
            <div id="news-icon" class="icon-container-big d-none d-lg-block">
                <fa-icon class="icon-news" [icon]="faSplotch"></fa-icon>
                <span class="icon-text">NEWS</span>
            </div>
    </div>
    
    <div class="col-lg-6 col-md-12 img-responsive p-0 main-img">
        <img src="../../../assets/img/img-header.jpg" alt="">
        <div id="news-icon" class="icon-container-small d-block d-lg-none">
            <fa-icon class="icon-news" [icon]="faSplotch"></fa-icon>
            <span class="icon-text">NEWS</span>
        </div>
    </div>
</header>
