header {
    max-width: 100%;
    position: relative;
}

.nav-container{
    background-color: #60d2cb;
    max-width: 100%;
}

.container-fluid {
    height: 100vh;
}



@media (max-width: 992px) {
    .main-img {
        position: relative;
    }
}


img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}



.logo {
    width: auto;
    height: 200px;
}

@media (max-width: 992px) {
    .logo {
        width: auto;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: auto;
        height: 150px;
    }
}

@media (max-width: 576px) {
    .logo {
        width: auto;
        height: 100px;
    }
}


.nav-principal {
    max-height: 100px;
    display: flex;
    flex-direction: column;
}

.nav-principal a, p {
    text-decoration: none;
    color: #012715;
    font-weight: 100;
}

.nav-principal a:hover {
    color: rgb(192, 185, 185);
    font-weight: 300;
}

@media (max-width: 768px) {
    .nav-principal {
        font-size: small;
    }
}

@media (max-width: 576px) {
    .nav-principal {
        font-size: x-small;
    }
}

.white {
    color: white;
    font-size: small;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    text-decoration: none;
}

.nav-white {
    width: 40%;
}

@media(max-width: 576px) {
    .nav-white {
        display: flex;
        flex-direction: row;
        font-size: xx-small;
        width: auto;
    }
}

.nav-vertical {
    margin-top: 230px;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    text-transform: lowercase;
}




.nav-vertical a {
    text-decoration: none;
    color: #012715;
    font-size: 20px;
}

.nav-vertical a:hover {
    text-decoration: none;
    color: rgb(170, 163, 163);
}

@media (max-width: 960px) {
    .nav-vertical {
        margin-top: 30px;
    }
    .nav-vertical a {
        font-size: 15px;
    }
}


.component-container {
    
    /* Habilita el desplazamiento dentro del contenedor */
    overflow-y: auto;
    
    /* Centra los componentes horizontalmente */
    display: flex;
    justify-content: center;
    
    /* Si quieres que los componentes se muestren en una columna */
    flex-direction: column;
    align-items: stretch;
    
}




@media (max-width: 768px) {
    .component-container {
        max-height: 100%;
        padding: 0;
        margin: 0;
    }
}

.category-text {
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
}

.category-container{
    margin: 25px;
}

.btn {
    background: white;
    margin-left: 25px;
    margin-top: 15px;
}

.category-h2 {
    background: #11a59c;
    color: white;
    display: inline;
    
}


.category-container p {
    color: #012715;
    font-size: 20px;
}